.library-body {
    width: 70vw;
    height: 120vh;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: white;
}

.users-headers {
    margin-left: 3%;
    margin-bottom: 2%;
    padding-top: 7%;
    /* width: 60vw; */
    height: 5vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    justify-content: center;
}

.header-divider {
    margin-left: 3%;
    width: 65vw;
    border-bottom: rgba(211, 211, 211, 0.5) 1px solid;
}

.library-display-container {
    margin-left: 3%;
    margin-bottom: 20vh;
    height: 100vh;
}


.library-tracks-button {
    cursor: pointer;
    color: black;
}

.users-index-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    grid-row-gap: 2%;
    margin-left: 2vw;
}

.selected {
    color: #f50;
   }
   
.unselected {
       color: black;
}

.artists {
    margin-bottom: 4%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
    cursor: pointer;
    color: #f50;
    text-decoration: underline;
}

#usernames {
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    cursor: pointer;
}

.user-index-display-container {
    display: flex;
}

.users-info-container {
    margin-left: 3vw;
}

