.user-playlist-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 1%;
}

.user-track-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 1%;
}