.track-form-container {
    height: 100vh;
    margin: 0 20vw;
    background-color: white;
}

.track-form-div {
    padding: 15% 15% 0 15%;
    display: flex;
    justify-content: center;
}

.track-upload-section {
    border: 1px solid rgba(211, 211, 211, 0.3);
    padding: 3%;
    box-shadow: 1px 1px 1px 1px rgba(0.05, 0.05, 0.05, 0.05);
    width: 35vw;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.upload-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 3%;
}

#track-input {
    display: none;
}

.track-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #f50;
    color: white;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.file-chosen-div {
    display: flex;
    margin-bottom: 3%;
}

.file-chosen {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin-right: 5px;
}

.track-file-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
}

.photo-upload {
    display: none;
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    width: 200px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    background-color: #f50;
    color: white;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.image-file-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
} 

.audio-files-bio {
    margin-top: 20%;
    display: flex;
}

.audio-files-accepted {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin-right: 5px;
}

.audio-files-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
}

.image-files-accepted {
    padding-top: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin-top: 5px;
}

.track-div {
    display: flex;
    flex-direction: column;
}

.title-span {
    display: flex;
}

.track-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.fa-asterisk {
    font-size: 6px;
    background-repeat: no-repeat;
    color: #cf0000;
    margin-left: 2px;
}

.track-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    height: 20px;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    background-color: #f50;
    color: white;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.track-submit-button {
    display: none;
}

.error-message {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin-top: 1%;
    color: red;
}

.preview-image {
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    margin-bottom: 2%;
}

.delete-button-container {
    padding-top: 2%;
    padding-right: 4%;
    display: flex;
    justify-content: end;
}

.track-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    width: 110px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.477);
    color: red;
    border-color: black;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}