@keyframes slideIn {
  from {
      transform: translateY(-130%);
  }
  to {
      transform: translateY(0%);
  }
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 4;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #modal-content {
    margin-top: 5%;
    position: absolute;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;

    animation: slideIn 0.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }