.like-item-container {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 5% 0% 0 12%;
}

.like-item-thumbnail-container {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-item-play {
    position: absolute;
    color: #f50;
    z-index: 1;
}

.play-item-pause {
    position: absolute;
    color: #f50;
    z-index: 1;
}

.like-item-thumbnail {
    width: 2vw;
    height: 2vw;
    border: 1px solid grey;
}

.like-item-track-info {
    /* width: 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-item-track-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.playlist-item-uploader-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: grey;
}

.playlist-item-container-border {
    width: 30vw;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.playlist-item-delete-button {
    width: 20px;
    height: 100%;
    background-repeat: no-repeat;
}

.fa-trash {
    /* color: rgba(211, 211, 211, 0.49); */
    cursor: pointer;
    color: lightgray;
}