.playlist-item-container {
    width: 30vw;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 1% 0;
    justify-content: space-between;
}

.playlist-item-thumbnail-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-item-play {
    position: absolute;
    color: #f50;
    z-index: 1;
}

.play-item-pause {
    position: absolute;
    color: #f50;
    z-index: 1;
}

.playlist-item-thumbnail {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
}

.playlist-item-track-info {
    width: 150px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    margin-left: -45%;
}

.playlist-item-track-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.playlist-item-uploader-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: grey;
    margin-left: 1%;
}

.playlist-item-container-border {
    width: 30vw;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.playlist-item-delete-button {
    width: 20px;
    height: 100%;
    background-repeat: no-repeat;
}

.fa-trash {
    /* color: rgba(211, 211, 211, 0.49); */
    cursor: pointer;
    color: lightgray;
}