.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 2px;
  background: #ccc;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 400px;
      -webkit-appearance: none;
      background-color: #CCC;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 3px;
      -webkit-appearance: none;
      color: #FF5500;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 0;
      height: 0;
      border-radius: 50%;
      -webkit-appearance: none;
      cursor: pointer;
      background: #FF5500;
      box-shadow: -400px 0 0 400px #FF5500;
    }
}

.current-time {
  margin-top: 7%;
  padding-left: 2%;
  height: 46px;
  width: 40px;
  color: #FF5500;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.duration {
  margin-top: 7%;
  margin-left: 3%;
  height: 46px;
  width: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}