.splash-banner {
    position: relative;
    height: .55vh;
    width: 85vw;
    background-color: #ff5500;
    margin: 0 7.5vw;
}

.splash-parent {
    position: relative;
    height: 55vh;
    width: 85vw;
    margin: 0 7.5vw;
    display: flex;
    justify-content: center;
}

.splash-image {
    position: absolute;
    width: 85vw;
    margin: 0 7.5vw;
    height: 65vh;
}

.splashPage-buttons {
    position: absolute;
    display: flex;
    z-index: 1;
    right: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    margin-top: 1%;
}

.splash-logo-container {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
    margin-right: 59%;
}

.splash-logo {
    background-color: none;
    display: block;
    width: 69px;
    height: 30px;
    background-image: url('https://a-v2.sndcdn.com/assets/images/peace-cloud-28ad0963.svg');
    background-repeat: no-repeat;
    background-size: 48px 22px;
    background-position: center;
 
}

.splash-soundshare {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
}

.for-creators {
    display: flex;
    color: white;
    height: 30px;
    width: 90px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: 100;
    font-size: 15px;
}

.splash-tagline-container {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
}

.splash-tagline {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 35px;
}

.splash-bio-container {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 17.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.splash-bio {
    margin-top: 1%;
}

.swiper-wrapper {
    list-style-type: none;
    padding-inline-start: 0;
    align-items: center;
    margin-left: 1%;
}

.swiper-slide swiper-slide-active {
    padding-inline-start: 0;
    margin: 0;
}


.swiper-pagination-bullet-active {
    background-color: grey !important;
    border-color: white;
    
}

.swiper-pagination-bullet {
    background-color: white !important;
    border-color: white;
}