.playlist-index-item {
    width: 400px;
    height: 60px;
    margin: 0 10px;
    display: flex;
    /* justify-content: center; */
}

.playlist-thumbnail-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-thumbnail {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
}

.playlist-info {
    width: 100%;
    height: 30px;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.playlist-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: rgba(52, 43, 43, 0.825);
    margin-left: 2%;
}

.add-to-playlist-commit-container {
    border: 1px lightgray solid;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    cursor: pointer;
}

.add-to-playlist-commit {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
}