/* .play-list-modal-button {
    position: absolute;
    background: none;
    color: black;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    border: lightgray solid 1px;
    background-color: white;
    border-radius: 4px;
    margin-top: 50%;
    width: 100px;
    height: 25px;
    z-index: 4;
} */

.three-dots-button {
    position: relative;
    background-repeat: repeat-x;
    right: 15%;
    top: 45%;
    font-size:20px;
}

