
.login-button {
    display: inline-block;
    border: none;
    height: 30px;
    width: 70px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    color: white;
    border: .5px white solid;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13.5px;
}