
.login-button {
    display: inline-block;
    border: none;
    height: 30px;
    width: 70px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    color: white;
    border: .5px white solid;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13.5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13.5px;
    width: 400px;
}

.login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.login-form input {
    margin-top: 5px;
}

.login-form input:last-child {
    margin-top: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #ff5500;
    color: white;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13.5px;
}